body{
    margin:0px;
    font-family: 'Lato', 'sans-serif';
    /*color:white;*/
}

#contentContainer{
    /*display:inline-block;*/
    /*border: 2px solid black;*/
    height:100%;
    /*background-color:rgb(251, 246, 238);*/
    background-color:white;
}

#imageContainer{
    border: 1px solid gray;
    /*padding:10px;*/
    width:700px;
    height:450px;
    position:absolute;
    left:330px;
    top:125px;
}

.imageDiv{
    width:700px;
    height:450px;
    overflow:hidden;
}

.image{
    width:700px;
}

#textContainer{
    position:absolute;
    left: 1090px;
    top:90px;
    width:350px;

}

.heading{
    font-size:20pt;
    font-weight:300;
    margin-bottom:20px;
}

#mainVideo{
   position:absolute;
   top:80px;
   left:350px;
}