.html{
    z-index:1;
}

body{
    margin: 0px;
}


#contentContainer{
    background: url(../img/blue_glass.png) no-repeat center center fixed;
    background-size:100%;
    overflow:auto;
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
    left:0px;

}

#blackOverlay{
    position:absolute;
    z-index: 0;
    width:100%;
    height:100%;
    opacity:0.8;
}

#welcomeBox{
    width:400px;
    height:225px;
    margin:0 auto;
    cursor: pointer;
    -webkit-animation: 1.5s jiggle infinite linear;
}

@-webkit-keyframes jiggle {
   0% { -webkit-transform: translateY(5%); }
   50% { -webkit-transform: translateY(7%); }
   100% { -webkit-transform: translateY(5%); }
} 


.vertical-align{
    position:relative;
    top:30%;
    margin-top:50%;
    /*transform: translateY(-50%);*/
}

#welcomeToImg{
    width:100%;
}

#startImg{
    position:absolute;
    width:100%;
    top:0px;
    left:0px;
    transition: opacity 0.5s ease;
    opacity:0;
}

#startImg:hover{
    opacity:1.0;
}