
#navbar{
    /*position:absolute;*/
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:calc(100% - 2px);
    min-height:500px;
    border: 1px solid rgb(58, 57, 72);
    font-family: 'Lato', 'sans-serif';
    /*font-family: 'Dosis', sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-weight:300;
    
    padding-left:15px;
    padding-right:50px;
    background-color:rgb(58, 57, 72);
    box-shadow: 5px 5px gray;
    z-index:5;
}

#logo{
    position:relative;
    margin-top:50px;
    width:100%;
    height:50px;
    font-family: 'Lato', 'sans-serif';
    font-size:50px;
    color:rgb(222, 218, 223);

}

#menu{
    position:relative;
    margin-top:20px;
    
}

.menuItemBox{
    margin: 5px 25px 3px 0px;
    padding-bottom:1px;
    padding-left:2px;
    float:left;
}

.menuItem{
    text-decoration: none;
    color:rgb(236, 227, 227);
    font-size:14pt;
}

.menuItemBox:hover{
    border-bottom:1px solid rgb(130, 173, 238);
}

.navActive{
    border-bottom:1px solid rgb(130, 173, 238);
}

.link{
    text-decoration: none;
}