
#navbar{
    background-color:rgba(256, 256, 256, 0.75);
    
    font-family: 'Lato', 'sans-serif';
    /*font-family: 'Open Sans', sans-serif;*/
    font-weight:300;
    height:100%;
    left:0px;
    min-height:500px;
    padding-left:20px;
    padding-right:20px;
    position:absolute;
    top:0px;
    width:180px;
    z-index:5;
}

#logo{
    position:relative;
    margin-top:50px;
    width:100%;
    height:50px;
    font-family: 'Lato', 'sans-serif';
    font-size:26pt;
    color:rgb(222, 218, 223);
    text-align:center;

}

#menu{
    position:relative;
    margin-top:132px;
    
}

.menuItemBox{
    margin: 2px 25px 2px 0px;
    padding-bottom:1px;
    padding-left:4px;
    float:left;
}

.menuItem{
    text-decoration: none;
    /*color:rgb(209, 209, 209);*/
    color:black;
    font-size:12pt;
}

.menuItemBox:hover{
    border-left: 1px solid rgb(130, 173, 238);
}

.navActive{
    border-left: 1px solid rgb(130, 173, 238);
}

.link{
    text-decoration: none;
}